<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meijinzhi.company.dao.ApplyRecordMapper">
    <select id="getApplyByCompany" resultType="com.meijinzhi.company.entity.ApplyRecord">
        select ar.*
        from apply_record ar
        where ar.company_id = #{id}
    </select>
</mapper>