<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meijinzhi.apply.dao.ApplyRecordMapper">
    <insert id="insertApplyRecord" parameterType="com.meijinzhi.apply.entity.ApplyRecord">
        insert into apply_record(user_id, post_id)
        values (#{userId}, #{postId})
    </insert>
    <select id="getRecordByUserId" resultType="com.meijinzhi.apply.entity.ApplyRecord">
        select *
        from apply_record
        where user_id = #{userId} limit #{start}
            , #{limit}
    </select>
    <select id="getRecordCount" resultType="com.meijinzhi.apply.entity.ApplyRecord">
        select *
        from apply_record
        where user_id = #{userId}
    </select>
</mapper>